[submodule "apps/aaa"]
	path = apps/aaa
	url = ../aaa
[submodule "apps/vtn"]
	path = apps/vtn
	url = ../vtn
[submodule "apps/config"]
	path = apps/config
	url = ../config
[submodule "apps/igmp"]
	path = apps/igmp
	url = ../igmp
[submodule "apps/mcast"]
	path = apps/mcast
	url = ../mcast
[submodule "apps/olt"]
	path = apps/olt
	url = ../olt
